name: Build Docker Compose Service (Task 3)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Task 3 service
        working-directory: Coding/Demo/
        run: docker compose build web
